.dart_tool/
.idea
*.iml
melos_snow_draw_workspace.iml
build
.worktrees/
rust-canvas-engine/target

# Agents
.claude
CLAUDE.md
AGENTS.md
.kiro

# DOCS
/docs/issues
/docs/prds
/docs/refactoring

# rust
/packages/snow_draw_rust_engine/target